
html,body{
	font-family: 'Open Sans', sans-serif;

}

h2,h3{
font-family: 'Roboto Condensed', sans-serif;

}
.PT{
font-family: 'PT Sans', sans-serif;
font-size:16px;
}
a{
	background-color:transparent !important;
	text-decoration: none !important;
}
a:focus{
	background-color:transparent !important;
	text-decoration: none !important;

}
.navbar-inverse{
	background-color:white;
	min-height:100px;
	border:none;
	padding-top:20px;
}
.nav-pills>li a{
	color:black !important;
	border:1px solid transparent;
	margin: 0 3px 0 3px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
	background-color:transparent;
	border:1px solid #428bca;
}
.nav-pills>li>a:hover{
	background-color:transparent;
	border:1px solid #428bca;
}
.navbar-inverse .navbar-toggle {
    background-color: #333;
}
.slick-prev:before, .slick-next:before {
color:black !important;
}
.panel-default{
	border-radius: 0;
    border: 1px solid rgba(66, 139, 202, 0.3);
    	box-shadow: none;
}
.panel-default>.panel-heading{
	background-color: #428bca;
	color:white;
}
.panel-title{
	font-size: 20px;
	letter-spacing: 1px;
}
.news_date{
	color:gray;
	font-size:12px !important;
}
.podrobnee a{

	border-radius: 0;
	border:1px solid #428bca;
    transition:all 0.3s ease;

}
.podrobnee a:hover{
	-webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    border-radius: 0;
	border:1px solid  #428bca;
}
.news_text{
	margin-bottom: 0;
}
.panel-default article{
	margin-top:20px;
}
.panel-default article:first-child{
	margin-top:0;
}
.index-catalog img{
	width:50%;
	margin:0 auto;
}
.battery-img{
	width:65% !important;
}
.index-catalog h3{
	color:#428bca;
	margin-bottom:20px;
}
.index-catalog a{
    transition:all 0.3s ease;
}
.index-catalog a:hover{
	opacity: 0.5;
}
.special-buy-container{
	background-color:#428bca; 
	color:white;
	margin-bottom:30px;
	
}
.special-buy-container h2{
	margin:0;
	padding:20px 0;	
}
.margin8{
	margin-top:8%;
}
.line{
	border-bottom:1px solid black;
	width: 10%;
	margin: 15px 0 20px 0;
}
.send_form1 input{
	border-radius: 0;
	padding:20px;
	border:1px solid rgba(0, 0, 0, 0.47);
		box-shadow: none;
}

.send_form1 textarea{
	min-height: 150px;
	border-radius:0;
	border:1px solid rgba(0, 0, 0, 0.47);
	box-shadow: none;


}
.contacts{
	min-height: 600px;
	border-left: 1px solid #eee;
}
.contacts img{
	width:100%;
	margin:0 auto;
}
.margin3{
	margin-top:3%;
}
.contacts a{
	color:#444;
	border-bottom : 1px solid #444;
	transition:all 0.3s ease;

}
.contacts a:hover{
	border-bottom-color:transparent;
	opacity: 0.6;

}
.hr_no_margin{
	margin:0;
}
.send_form1 a.btn-default{
		border-radius: 0;
	border:1px solid  #428bca;
}
footer>.container-fluid{
	background-color:#428bca;
	color:white;
}
.footer_menu{
	list-style-type: none;
	text-align: center;
	font-size:20px;
	padding:50px 0;
	margin:0;
}
.footer_menu li{
	display: inline-block;
	margin:0 10px;
}
.footer_menu a{
	color:white;
}
.footer_menu a:hover{
	border-bottom: 1px solid white;
}

.text_slider{
	position: absolute;
	color:red;
	z-index: 10000;
}
